<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Restaurante ModalGR</a>
  </div>
</nav>
<div class="main">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <label>Valor do Kilo:</label>
        <br />
        <input
          type="number"
          name="valorKg"
          min="0"
          step="any"
          [(ngModel)]="valorKg"
        />
      </div>
      <div class="col">
        <label>Tara do Prato (Kg):</label>
        <br />
        <input
          type="number"
          name="taraPrato"
          min="0"
          step="any"
          [(ngModel)]="taraPrato"
        />
      </div>
      <div class="col">
        <label>Peso do Prato (Kg):</label>
        <br />
        <input
          type="number"
          name="pratoKg"
          min="0"
          step="any"
          [(ngModel)]="pratoKg"
        />
      </div>
    </div>
  </div>
  <div class="text-center">
    <p>
      O prato de {{pratoGramas}} gramas custa: {{calcularPreco() | currency}}
    </p>
  </div>
</div>
